<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Tech Blog</title>
    <link rel="stylesheet" href="{{ '/css/dark.css' | url }}">
</head>
<body class="dark-theme">

  <header>
        <div class="title">
            <h1><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>
        </div>

        <nav>
            <ul>
                {%- for entry in collections.all | eleventyNavigation %}
                <li><a href="{{ entry.url | url }}">{{ entry.title }}</a></li>
                {%- endfor %}
            </ul>
        </nav>
    </header>
<div class="main-container">
    <main class="main-content"{% if templateClass %} class="{{ templateClass }}"{% endif %}>
        <!-- Main content -->
        {{ content | safe }}
    </main>
    <aside class="sidebar">
        <!-- Sidebar content (latest posts, search functionality, etc.) -->
        <h2>Sidebar</h2>
        <section class="latest-posts">
            <h2>Latest Posts</h2>
            <ul>
                {% for post in collections.posts | reverse | slice(0, 3) %}
                <li>
                    <h3><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
                    <p>{{ post.date | date("MMMM DD, YYYY") }}</p>
                    <p>{{ post.data.description }}</p>
                </li>
                {% endfor %}
            </ul>
        </section>

        <section class="archive-link">
            <p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
        </section>
    </aside> 
</div>


<footer>
    <p>&copy; {{ year }} ByteDocs. All rights reserved.</p>
</footer>

</body>
</html>
